<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>BirdsIdentifier</title>
    <link rel="shortcut icon" type="image/ico" href="~/img/logo.png">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/Website.styles.css" asp-append-version="true"/>
</head>
<body>

<header>
    <nav class="header-container">
        <div class="header-title-container">
            <img src="img/logo.png"/>
            <a class="header-title" asp-area="" asp-controller="Birds" asp-action="Index">BirdsIdentifier</a>
        </div>
    </nav>
</header>

<div class="main-section-container">
    @RenderBody()
</div>

<footer class="container-fluid">
    <div class="footer-container">
        &copy; 2024 - BirdsIdentifier | ASI Maciej Zajączkowski s20806 Mateusz Sasor-Adamczyk s22454
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)

</body>
</html>