html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {

}

.main-section-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.main-section {
  display: flex;
  width: 100vw;
  height: 88vh;
  overflow: hidden;
}

/* Birds list */

.birds-list-section {
  display: flex;
  width: 20vw;
  height: 100%;
  background-color: #0c63e4;
}

#birdsList {
  overflow-y: auto;
  white-space: nowrap;
  width: 100%;
  font-size: 14px;
}