@using Birds.EntityFramework.Entities
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model PredictionViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="main-section">

    <div class="side-panel-container">

        <div class="side-panel-menu">

            <div id="birdsListMenuItem" class="side-panel-menu-item side-panel-menu-item-active" onclick="toggleClass(0)">
                Birds List
            </div>

            <div id="predictionsListMenuItem" class="side-panel-menu-item" onclick="toggleClass(1)">
                Lista Predykcji
            </div>

        </div>

        <div id="birdsList">

        </div>

        <div id="predictions" class="disabled">
        </div>
    </div>

    <div class="file-section">
        
        <div class="file-drop-container">
            <div class="file-box">
                
                <div id="tmpIcon">
                    <img class="upload-icon" src="img/upload.png">
                    
                    <a>Upuść plik lub</a>
                    <br/>
                    <a>wybierz z komputera</a>
                </div>
                
                <img id="uploadedImage" class="disabled"/>
            </div>
            
            <form id="uploadForm" action="/api/checkimage" method="post" enctype="multipart/form-data">
                <input type="file" name="file" id="fileInput">
                <input type="submit" value="Prześlij plik">
            </form>
        </div>

        <div id="result"></div>
    </div>

</div>


@section Scripts
{
    @* Set image preview *@
    <script>
        function previewImage() {
            const fileInput = document.getElementById('fileInput');
            let uploadedImage = document.getElementById('uploadedImage');
            
            document.getElementById('tmpIcon').classList.add('disabled');
            document.getElementById('uploadedImage').classList.remove('disabled');
            
            const file = fileInput.files[0];
            if (file) {
                let reader = new FileReader();

                reader.onload = function (e) {
                    uploadedImage.src = e.target.result;
                };

                reader.readAsDataURL(file);
            }
        }
    </script>

    @* Classify image *@
    <script>
        const apiUrl = '/api/checkimage';
        
        document.getElementById('uploadForm').addEventListener('submit', async function (e) {
            e.preventDefault();
            
            previewImage();

            let formData = new FormData();
            const fileInput = document.getElementById('fileInput');
            
            if (fileInput.files.length > 0) {
                formData.append('file', fileInput.files[0]);
                
                fetch('/api/checkimage', {
                    method: 'POST',
                    body: formData
                })
                .then(response => response.text())
                .then(data => {
                    document.getElementById('result').textContent = data;
                })
                .catch(error => {
                    console.error('Błąd:', error);
                });
            }
            await renderBirdPredictions();
        });
    
    </script>

    @* Birds list init *@
    <script>
        document.addEventListener('DOMContentLoaded', function (){
            let birdsList = document.getElementById('birdsList');
            fetch('/api/birds')
                .then(response => response.json())
                .then(data => {
                    data.forEach(function (bird) {
                        let listItem = document.createElement('div');
                        listItem.textContent = bird.name;
                        birdsList.appendChild(listItem);
                    });
                })
                .catch(error => console.error('Błąd podczas pobierania danych z API: ' + error));
            });
        
        document.addEventListener('DOMContentLoaded', async function () {
            renderBirdPredictions();
        });
        
        async function renderBirdPredictions() {
            try {
                const birdsList = document.getElementById('predictions');
                const response = await fetch('/api/predictions');
                const data = await response.json();
                birdsList.innerHTML = '';
                const list = document.createElement('ul');
                data.forEach(function (prediction) {
                    const listItem = document.createElement('li');
                    listItem.innerHTML = `
                        <strong>Nazwa ptaka:</strong> ${prediction.name}<br>
                        <strong>Data:</strong> ${prediction.date}<br>
                        <strong>Obraz:</strong> <img class="prediction-bird-image" src="data:image/jpeg;base64,${prediction.base64}" alt="Bird Image">
                    `;
                    list.appendChild(listItem);
                });
                birdsList.appendChild(list);
            } catch (error) {
                console.error('Error fetching or rendering bird predictions:', error);
            }

        }
    </script>

    @* Change list visibility *@
    <script>
        function toggleClass(x) {
            if (x === 0)
            {
                document.getElementById("birdsList").classList.remove('disabled');
                document.getElementById("birdsListMenuItem").classList.add('side-panel-menu-item-active');
                document.getElementById("predictions").classList.add('disabled');
                document.getElementById("predictionsListMenuItem").classList.remove('side-panel-menu-item-active');
            }
            else 
            {
                document.getElementById("birdsList").classList.add('disabled');
                document.getElementById("birdsListMenuItem").classList.remove('side-panel-menu-item-active');
                document.getElementById("predictions").classList.remove('disabled');
                document.getElementById("predictionsListMenuItem").classList.add('side-panel-menu-item-active');
            }
        }
    </script>

}