@{
    ViewData["Title"] = "Home Page";
    
    /* Page variables */
    bool listVisible = true;
}

<div class="main-section">
    
    <div class="side-panel-container">
        
        <div class="side-panel-menu">
            
            <div id="birdsListMenuItem" class="side-panel-menu-item side-panel-menu-item-active" onclick="toggleClass(0)">
                Birds List
            </div>
            
            <div id="predictionsListMenuItem" class="side-panel-menu-item" onclick="toggleClass(1)">
                Lista Predykcji
            </div>
            
        </div>

        <div id="birdsList">

        </div>

        <div id="predictions" class="disabled">
            xddddddddd
        </div>

    </div>
    
    <div class="file-section">
        
        <div>
            <img id="uploadedImage" alt="Przesłany plik"/>
        </div>
        
        <form id="uploadForm" action="/api/checkimage" method="post" enctype="multipart/form-data">
            <input type="file" name="file" id="fileInput">
            <input type="submit" value="Prześlij plik">
        </form>
        
    </div>
    
</div>


@section Scripts
{



    @* Set image preview *@
    <script>
        function previewImage() {
            const fileInput = document.getElementById('fileInput');
            let uploadedImage = document.getElementById('uploadedImage');
            
            const file = fileInput.files[0];
            if (file) {
                let reader = new FileReader();

                reader.onload = function (e) {
                    uploadedImage.src = e.target.result;
                };

                reader.readAsDataURL(file);
            }
        }
    </script>

    @* Classify image *@
    <script>
        const apiUrl = '/api/checkimage';
        
        document.getElementById('uploadForm').addEventListener('submit', function (e) {
            e.preventDefault();
            
            previewImage();

            let formData = new FormData();
            const fileInput = document.getElementById('fileInput');
            
            if (fileInput.files.length > 0) {
                formData.append('file', fileInput.files[0]);
                
                fetch('/api/checkimage', {
                    method: 'POST',
                    body: formData
                })
                .then(response => response.text())
                .then(data => {
                    document.getElementById('result').textContent = data;
                })
                .catch(error => {
                    console.error('Błąd:', error);
                });
            }
        });
    
    </script>

    @* Birds list init *@
    <script>
    
        document.addEventListener('DOMContentLoaded', function (){
    
            // Get list element
            let birdsList = document.getElementById('birdsList');
    
            // Load birds list from text file
            fetch('../Data/birdsList.txt')
                .then(response => response.text())
                .then(data => {
    
                    // Split data on brake line
                    let itemsList = data.split('\n');
    
                    // Create list element and add it to list
                    itemsList.forEach(function (item) {
                        let listItem = document.createElement('div');
                        listItem.textContent = item;
                        birdsList.appendChild(listItem);
                    });
                })
                .catch(error => console.error('Błąd podczas wczytywania pliku: ' + error));
    
            });
    
    </script>

    @* Change list visibility *@
    <script>
            
        function toggleClass(x) {
            if (x === 0)
            {
                document.getElementById("birdsList").classList.remove('disabled');
                document.getElementById("birdsListMenuItem").classList.add('side-panel-menu-item-active');
                document.getElementById("predictions").classList.add('disabled');
                document.getElementById("predictionsListMenuItem").classList.remove('side-panel-menu-item-active');
            }
            else 
            {
                document.getElementById("birdsList").classList.add('disabled');
                document.getElementById("birdsListMenuItem").classList.remove('side-panel-menu-item-active');
                document.getElementById("predictions").classList.remove('disabled');
                document.getElementById("predictionsListMenuItem").classList.add('side-panel-menu-item-active');
            }
        }
        
       
    </script>

}